body {
  gap: 0;
  row-gap: 3rem;
  width: 100%;
  min-height: 100vh;
}

.title,
.logo {
  cursor: pointer;
}

.logo_container {
  height: 100%;
  display: grid;
  place-items: center;
}

h1 a {
  text-decoration: none;
  color: #fff;
}

.description_main {
  display: grid;
  grid-template-rows: 25rem 1fr;
  padding: 1rem;
  row-gap: 2rem;
  place-items: center;
  height: 100%;
  width: 100%;

  @media (min-width: 413px) {
    grid-template-rows: 45rem 1fr;
  }

  @media (min-width: 1366px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: none;
    column-gap: 2rem;
    align-items: start;
  }
}

.figure {
  width: 95%;
  height: 95%;
  background-color: #1d503f;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0px 0px 10px 10px #2b775e;

  @media (min-width: 1366px) {
    height: 40rem;
  }
}

.image {
  width: 100%;
  height: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: -2rem;
}

.change_image {
  background-color: #c1dcff;
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s ease-in;

  &:hover {
    background-color: #fff;
  }
}

.description_text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.name_number {
  color: #ffffffe7;
  text-transform: capitalize;
  font-size: 3rem;
  text-shadow: 2px 2px 5px #50ff5e;
  width: 100%;
  display: flex;
  justify-content: center;
}

.name_number span {
  color: #50ff5e;
  margin-left: 1rem;
}

.container {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

.title {
  font-size: 2rem;
  color: #50ff5e;
  cursor: auto;
}

.text {
  font-size: 2rem;
  padding-left: 1rem;
}

.type_weight_container {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.displace {
  background-color: #2b775e;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  overflow-y: hidden;
}

.displace_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3rem;
}

.displace_open {
  animation: displaceOpen 2s forwards;
}

.displace_clouse {
  animation: displaceClouse 2s forwards;
}

.locationsContainer {
  display: grid;
  gap: 1rem;
}

.location {
  background-color: #3faa87;
  color: #fff;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  border-radius: 10px;

  &:nth-child(even) {
    background-color: #1d503f;
    color: #fff;
  }
}

.displace_header svg {
  background-color: #1d503f;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 5px;
}

@keyframes displaceOpen {
  from {
    height: 3rem;
  }

  to {
    height: 100%;
  }
}

@keyframes displaceClouse {
  from {
    height: 100%;
  }

  to {
    height: 3rem;
  }
}

.stats_container {
  width: 100%;
  display: grid;
  gap: 1rem;
  background-color: #2d7a61;
  padding: 1rem;
  border-radius: 10px;
}

.stats_title {
  width: 100%;
  display: grid;
  place-items: center;
}

.stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.stat {
  display: grid;
  gap: 0.2rem;
  background-color: #1d503f;
  padding: 0.5rem;
  border-radius: 10px;
}

.stat_title {
  font-size: 1.5rem;
}

.stat_value {
  font-size: 1.5rem;
  margin-left: 1rem;
}

@view-transition {
  navigation: auto;
}

@keyframes MoveIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes MoveOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

::view-transition-new(root) {
  animation: 1s ease-in both MoveIn;
}

::view-transition-old(root) {
  animation: 1s ease-in both MoveOut;
}
